@charset "UTF-8";
/***************** FONTS *******************/
@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Poppins:wght@400;500;600;900&family=Sacramento&display=swap");
/*******************************************/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

@font-face {
  font-family: "icomoon";
  src: url("../fonts/icomoon.eot?97nim1");
  src: url("../fonts/icomoon.eot?97nim1#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?97nim1") format("truetype"), url("../fonts/icomoon.woff?97nim1") format("woff"), url("../fonts/icomoon.svg?97nim1#icomoon") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}
[class^=icon-]::before, [class*=" icon-"]::before {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icomoon" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribble:before {
  content: "";
}

.icon-facebook:before {
  content: "";
}

.icon-google:before {
  content: "";
}

.icon-plane:before {
  content: "";
  color: #fff;
}

.icon-twitter:before {
  content: "";
}

/***************** HEADER ******************/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}
.header:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 3;
}
.header__row {
  display: flex;
}
.header__column {
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 76px;
  align-items: center;
}
.header__column_logo {
  flex: 0 1 8.333%;
}
.header__column_menu {
  margin-left: auto;
  flex: 0 1 74.997%;
}
@media (max-width: 767px) {
  .header__column {
    height: 50px;
  }
}
.header__burger {
  display: none;
}
@media (max-width: 767px) {
  .header__burger {
    display: block;
    position: relative;
    margin-left: auto;
    width: 30px;
    height: 20px;
    z-index: 3;
  }
  .header__burger.active:before {
    transform: rotate(45deg);
    top: 9px;
  }
  .header__burger.active:after {
    transform: rotate(-45deg);
    bottom: 9px;
  }
  .header__burger.active span {
    transform: scale(0);
  }
}
.header__burger:before, .header__burger:after {
  content: "";
  background-color: #fc5f45;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
}
.header__burger:before {
  top: 0;
  transition: all 0.3s ease 0s;
}
.header__burger:after {
  bottom: 0;
  transition: all 0.3s ease 0s;
}
.header__burger_line {
  position: absolute;
  background-color: #fc5f45;
  left: 0;
  width: 100%;
  height: 2px;
  top: 9px;
}
@media (max-width: 767px) {
  .header__burger_line.active {
    transform: scale(0);
    transition: all 0.3s ease 0s;
  }
}
.header__menu {
  margin-left: auto;
}
@media (max-width: 767px) {
  .header__menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #feb960;
    padding: 70px 10px 20px 10px;
    transition: all 0.3s ease 0s;
  }
  .header__menu.active {
    top: 0;
  }
}
.header__logo {
  overflow: hidden;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .header__logo {
    flex: 0 0 60px;
  }
}
.header__item {
  display: flex;
  justify-content: flex-end;
}
.header__list {
  margin-left: 20px;
  display: flex;
  position: relative;
  z-index: 3;
}
@media (max-width: 767px) {
  .header__list {
    display: block;
  }
}
.header__link {
  color: #272727;
  font-weight: 500;
  margin-left: 25px;
}
@media (max-width: 767px) {
  .header__link {
    color: #fff;
  }
}

.logo {
  max-width: 100%;
  display: block;
}

@media (max-width: 767px) {
  .list__item {
    margin: 0 0 20px 10px;
  }
}

/*******************************************/
/****************** CORE *******************/
html {
  color: #000;
}

body {
  font-size: 14px;
  line-height: 1.5;
  font-family: "Poppins", sans-serif;
}
body.lock {
  overflow: hidden;
}

.uppercase {
  text-transform: uppercase;
}

.container {
  min-width: 320px;
  max-width: 1140px;
  padding: 0 15px;
  box-sizing: border-box;
  margin: 0 auto;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow: hidden;
}

.title_white {
  font-family: "Libre Baskerville", serif;
  font-size: 60px;
  color: #fff;
}
@media (max-width: 767px) {
  .title_white {
    font-size: 35px;
  }
}
.title_black {
  color: #313131;
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
  font-weight: 700;
}
@media (max-width: 767px) {
  .title_black {
    font-size: 40px;
  }
}

.number_grey {
  color: #f0f0f0;
  font-size: 274px;
  font-weight: 700;
}

.text {
  color: #616161;
  line-height: 1.5;
}
.text_gray {
  color: #616161;
}
@media (max-width: 767px) {
  .text {
    line-height: 2;
  }
}

.content {
  flex: 1 1 auto;
}

.ibg {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.ibg img {
  display: none;
}

.mainblock {
  position: relative;
  padding: 176px 0;
}
@media (max-width: 767px) {
  .mainblock {
    padding: 135px 0;
  }
}
.mainblock__row {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.mainblock__title {
  text-align: center;
  max-width: 821px;
}
.mainblock__button {
  margin: 49px 0 82px;
}
@media (max-width: 767px) {
  .mainblock__button {
    margin-bottom: 60px;
  }
}
.mainblock__features {
  display: flex;
  text-align: center;
}
@media (max-width: 767px) {
  .mainblock__features {
    flex-direction: column;
  }
}
.mainblock__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.features__icon {
  margin-bottom: 40px;
}
@media (max-width: 767px) {
  .features__icon {
    margin-bottom: 10px;
  }
}
.features__text_green {
  color: #38c695;
}
.features__text_violet {
  color: #b27cf5;
  margin: 0 62px;
}
.features__text_orange {
  color: #feb960;
}
@media (max-width: 767px) {
  .features__text {
    margin-bottom: 30px;
  }
}
.button {
  font-size: 16px;
  padding: 20px 42px;
  border-radius: 30px;
  font-weight: 600;
  color: #fff;
}
.button_red {
  background-color: #fc5f45;
}
@media (max-width: 767px) {
  .button {
    font-size: 14px;
    padding: 16px 38px;
  }
}

.about {
  padding: 150px 0;
  position: relative;
}
@media (max-width: 767px) {
  .about {
    padding: 15px 0 30px;
  }
}
.about__row {
  display: flex;
}
.about__background {
  position: absolute;
  width: 555px;
  height: 700px;
  z-index: -3;
}
@media (max-width: 767px) {
  .about__background {
    display: none;
  }
}
.about__wrapper {
  position: relative;
  padding: 100px 87px 107px 84px;
  background-color: #fff;
  max-width: 652px;
  max-height: 556px;
  margin-top: 75px;
  margin-left: 489px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  z-index: -2;
}
@media (max-width: 767px) {
  .about__wrapper {
    margin: 0;
    max-width: 345px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 40px 40px 107px 80px;
  }
}
.about__number {
  position: absolute;
  top: -97px;
  left: 10px;
  z-index: -1;
}
@media (max-width: 767px) {
  .about__number {
    font-size: 154px;
    top: -45px;
  }
}
.about__p_1 {
  margin: 52px 0 40px;
}
@media (max-width: 767px) {
  .about__p_1 {
    margin: 25px 0 15px;
  }
}
@media (max-width: 767px) {
  .about__p_2 {
    display: none;
  }
}

.wrapper__background img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
@media (max-width: 767px) {
  .wrapper__background img {
    max-width: 345px;
  }
}

.servicess {
  padding: 135px 0 150px;
  position: relative;
  background-color: #f7f7f7;
  z-index: -2;
}
@media (max-width: 767px) {
  .servicess {
    padding-top: 75px;
    padding-bottom: 40px;
  }
}
.servicess__number {
  position: absolute;
  top: -93px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
@media (max-width: 767px) {
  .servicess__number {
    font-size: 154px;
    top: -45px;
  }
}
.servicess__title {
  text-align: center;
  font-size: 35px;
}
.servicess__text {
  margin: 40px 0 80px;
  text-align: center;
  font-size: 18px;
}
@media (max-width: 767px) {
  .servicess__text {
    font-size: 16px;
    margin: 0;
  }
}
.servicess__card {
  display: flex;
  justify-content: space-between;
  margin: 64px 0 42px;
  text-align: center;
}
@media (max-width: 767px) {
  .servicess__card {
    margin-top: 25px;
    flex-direction: column;
    align-items: center;
  }
}

.card {
  padding: 66px 33px 70px;
  max-width: 264px;
  background-color: #fff;
}
@media (max-width: 767px) {
  .card {
    padding: 30px 45px 60px;
  }
}
.card:nth-child(-n+3) {
  margin-right: 25px;
}
@media (max-width: 767px) {
  .card:nth-child(-n+3) {
    margin-right: 0;
    margin-bottom: 25px;
  }
}
.card__web-design {
  position: relative;
  border-bottom: solid 5px #fc5f45;
}
.card__title {
  font-size: 20px;
  font-weight: 500;
  margin: 35px 0;
}
@media (max-width: 767px) {
  .card__title {
    margin: 20px 0;
    font-size: 18px;
  }
}
.card__text {
  color: #616161;
}
.card__background img {
  position: absolute;
  bottom: 0;
  left: 0;
  max-width: 100%;
}
.card__ux-design {
  position: relative;
  border-bottom: solid 5px #38c695;
}
.card__photogrpahy {
  position: relative;
  border-bottom: solid 5px #b27cf5;
}
.card__app-development {
  position: relative;
  border-bottom: solid 5px #feb960;
}

.video-bg {
  position: relative;
  text-align: center;
  padding: 150px 0;
}
@media (max-width: 767px) {
  .video-bg {
    padding: 60px 0;
  }
}
.video-bg__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.video-bg__title {
  font-size: 30px;
  margin-bottom: 155px;
}
.title_white {
  color: #fff;
}

.text_white {
  color: #fff;
}

.portfolio {
  position: relative;
  padding: 140px 0 150px;
  text-align: center;
}
@media (max-width: 767px) {
  .portfolio {
    padding-top: 65px;
    padding-bottom: 40px;
  }
}
.portfolio__number {
  position: absolute;
  top: -92px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
@media (max-width: 767px) {
  .portfolio__number {
    font-size: 154px;
    top: -45px;
  }
}
.portfolio__text {
  margin: 40px 0 80px;
}
@media (max-width: 767px) {
  .portfolio__text {
    font-size: 16px;
    margin: 15px 0;
  }
}
.items__row {
  display: flex;
}
@media (max-width: 767px) {
  .items__row {
    flex-direction: column;
  }
}
.items__item {
  position: relative;
  margin-bottom: 15px;
  border: solid 6px transparent;
}
.items__item:nth-child(n+2) {
  margin-left: 15px;
}
@media (max-width: 767px) {
  .items__item:nth-child(n+2) {
    margin-left: 0;
  }
}
.items__item:hover {
  border: solid 6px #fff;
  box-shadow: 0 1px 10px #f1f1f1;
}
@media (max-width: 767px) {
  .items__item {
    max-width: 320px;
  }
}
.items__item:hover .items__image_hidden {
  display: block;
  position: absolute;
  top: 82px;
  left: 0;
}
@media (max-width: 767px) {
  .items__image_main {
    max-width: 330px;
  }
}
.items__image_hidden {
  display: none;
}
.items__image-add_hover {
  margin-bottom: 50px;
}
.items__image-line_hover {
  vertical-align: bottom;
}
.items__title {
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 500;
  background-color: #fff;
  padding: 24px 0 23px;
  bottom: 0;
  left: 0;
}

.team {
  position: relative;
  background-color: #f7f7f7;
  padding: 135px 0 150px;
  text-align: center;
  z-index: -2;
}
@media (max-width: 767px) {
  .team {
    padding-top: 65px;
    padding-bottom: 40px;
  }
}
@media (max-width: 767px) {
  .team__single-member {
    max-width: 263px;
    margin: 0 50%;
  }
}
.team__number {
  position: absolute;
  top: -92px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
@media (max-width: 767px) {
  .team__number {
    font-size: 154px;
    top: -45px;
  }
}
.team__text {
  margin: 42px 0 79px;
}
@media (max-width: 767px) {
  .team__text {
    font-size: 16px;
    margin: 15px 0;
  }
}

.single-member {
  position: relative;
}
@media (max-width: 767px) {
  .single-member:nth-child(-n+3) {
    margin-bottom: 30px;
  }
}
.single-member__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .single-member__details {
    flex-direction: column;
  }
}
.single-member__line {
  position: absolute;
  bottom: 0;
  left: 0;
}
.single-member__image_line {
  vertical-align: bottom;
  max-width: 100%;
}
.single-member__title {
  padding-top: 22px;
  font-size: 19px;
  font-weight: 500;
  background-color: #fff;
}
.single-member__title_red {
  color: #fc5f45;
}
.single-member__text {
  padding-bottom: 25px;
  background-color: #fff;
}
.stats {
  position: relative;
  padding: 145px 0 125px;
  text-align: center;
}
@media (max-width: 767px) {
  .stats {
    padding: 45px 0 25px;
  }
}
.stats__background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.stats__row {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .stats__row {
    flex-direction: column;
  }
}
@media (max-width: 767px) {
  .stats__stat:nth-child(n+2) {
    margin-top: 30px;
  }
}
.stats__number {
  margin-top: 29px;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
}
@media (max-width: 767px) {
  .stats__number {
    margin-top: 10px;
    font-size: 15px;
  }
}
.stats__text {
  margin: 29px 0 40px;
  color: #868588;
  font-size: 15px;
}
@media (max-width: 767px) {
  .stats__text {
    margin: 10px 0 20px;
    font-size: 14px;
  }
}
.how-we-work {
  position: relative;
  padding: 135px 0 152px;
}
.how-we-work__number {
  position: absolute;
  top: -92px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: -1;
}
@media (max-width: 767px) {
  .how-we-work__number {
    font-size: 154px;
    top: -45px;
  }
}
.how-we-work__text {
  font-size: 18px;
  margin: 26px 0 75px;
}
.how-we-work__step {
  position: relative;
  max-width: 460px;
  height: 300px;
  background-color: #fff;
  padding: 35px 40px 40px 45px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.how-we-work__step-two {
  margin-left: auto;
}
.how-we-work__step-four {
  margin-left: auto;
}

.step__number {
  position: absolute;
  top: 20px;
  left: 39px;
  color: #e0e0e0;
  font-family: "Libre Baskerville", serif;
  font-size: 50px;
  font-weight: bold;
}
.step__title {
  position: absolute;
  top: 60px;
  left: 115px;
  font-size: 25px;
}
.step__text {
  max-width: 263px;
  margin-left: 70px;
  margin-top: -15px;
  color: #616161;
}
.step__line {
  color: #e0e0e0;
}
.step__line img {
  position: absolute;
  left: 0;
  bottom: 0;
  vertical-align: bottom;
}
.step__background {
  position: absolute;
  top: 50px;
  z-index: -1;
}
.step__background_1 {
  transform: translate(50%);
}
.step__background_2 {
  transform: translate(-67%);
}
.step__background_3 {
  transform: translate(50%);
}
.step__background_4 {
  transform: translate(-67%);
}

.pricing {
  position: relative;
  padding: 140px 0 150px;
  background-color: #f7f7f7;
  text-align: center;
}
.pricing__number {
  position: absolute;
  top: -92px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
}
@media (max-width: 767px) {
  .pricing__number {
    font-size: 154px;
    top: -45px;
  }
}
.pricing__title {
  position: relative;
  z-index: 2;
}
.pricing__text {
  font-size: 18px;
  margin: 30px 0 78px;
}
.pricing__packages {
  display: flex;
  justify-content: space-around;
}
@media (max-width: 767px) {
  .pricing__packages {
    flex-direction: column;
  }
}
.pricing__single-package {
  padding: 38px 80px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.pricing__single-package_left {
  border-top: solid 2px #38c695;
}
.pricing__single-package_center {
  border-top: solid 2px #fc5f45;
}
.pricing__single-package_right {
  border-top: solid 2px #b27cf5;
}

.single-package__heading {
  font-size: 20px;
  font-weight: 500;
}
.single-package__price {
  display: inline-block;
  border-radius: 50%;
  padding: 25px 18px;
  margin: 30px 0 40px;
  font-size: 25px;
  color: #fff;
}
.single-package__price_green {
  background-color: #38c695;
}
.single-package__price_red {
  background-color: #fc5f45;
}
.single-package__price_violet {
  background-color: #b27cf5;
}
.single-package__text {
  font-size: 13px;
}
.single-package__list li:nth-child(n+2) {
  margin-top: 30px;
}
.single-package__button {
  margin-top: 50px;
  border-radius: 30px;
  padding: 20px 40px;
}
.single-package__button_green {
  border: solid 2px #38c695;
}
.single-package__button_red {
  background-color: #fc5f45;
}
.single-package__button_violet {
  border: solid 2px #b27cf5;
}
.single-package__link_green {
  color: #38c695;
}
.single-package__link_red {
  color: #fff;
}
.single-package__link_violet {
  color: #b27cf5;
}

.round {
  width: 114px;
  height: 114px;
}
.round_green {
  box-shadow: 0 0 0 5px #38c695 inset, 0 0 0 10px #fff inset;
}
.round_red {
  box-shadow: 0 0 0 5px #fc5f45 inset, 0 0 0 10px #fff inset;
}
.round_violet {
  box-shadow: 0 0 0 5px #b27cf5 inset, 0 0 0 10px #fff inset;
}

.list__item i {
  margin-right: 5px;
}
.list__item img {
  vertical-align: baseline;
}

/*******************************************/
/***************** FOOTER ******************/
.footer {
  position: relative;
  padding: 86px 0 68px;
}
.footer__row {
  display: flex;
  justify-content: space-between;
}
.footer__column-left {
  flex: 1 1 24.999%;
  max-width: 242px;
}
.footer__column-left_center {
  flex: 1 1 8.333%;
  margin-left: 62px;
}
.footer__logo {
  margin-bottom: 14px;
}
.footer__about {
  color: #f0f0f0;
  line-height: 1.5;
}
.footer__column {
  line-height: 1;
  margin-top: 15px;
  margin-right: 62px;
}
.footer__column p {
  font-size: 22px;
  margin-bottom: 20px;
}
.footer__column li {
  margin-bottom: 16px;
}
.footer__title {
  padding-bottom: 32px;
  font-size: 22px;
}
.footer__form_wrapper {
  position: relative;
  max-width: 267px;
  border: solid 1px #f0f0f0;
  border-right: none;
}
.footer__form input {
  padding: 12px 0 12px 25px;
  height: 49px;
  min-width: 218px;
}
.footer__form button {
  position: absolute;
  top: -1px;
  right: 0;
  background-color: #fc5f45;
  height: 51px;
  padding: 13px 15px 15px 15px;
  box-shadow: 1px 2px 3px #c3c3c3;
  font-size: 21px;
}
.footer__column-right {
  flex: 1 1 25%;
}
.footer__column-right_center {
  flex: 1 1 8.333%;
}
.footer__link {
  color: #f0f0f0;
}
.footer__social-buttons {
  margin-top: 19px;
}
.footer__background {
  z-index: -1;
  position: absolute;
  top: 0;
  right: 0;
}
.footer__triangle_red {
  width: 0;
  height: 0;
  border-top: 314px solid #fc5f45;
  border-left: 334px solid transparent;
}

.social-buttons__link {
  color: #cbcbcb;
}
.social-buttons__link:nth-child(n+2) {
  margin-left: 23px;
}
.social-buttons__icon {
  font-size: 23px;
}
.social-buttons__icon_dribble {
  margin-left: 45px;
}
.social-buttons__icon_twitter {
  margin-right: 63px;
}

/*******************************************/
.btn {
  padding: 19px 52px 19px 49px;
  color: #fff;
  font-size: 16px;
  background-color: #fc5f45;
  border-radius: 5px;
}