.form-call-back {
  margin: 50px auto;
  @media  (min-width: 320px) and (max-width: 479px) {
    margin: 0;
  }
  @media (min-width: 480px) and (max-width: 767px) {
    max-width: 400px;
  }
  @media (min-width: 768px) and (max-width: 991px) {
    max-width: 500px;
  }
  @media (max-width: 991px){
    background-color: #333;
  }
}
.form {
  max-width: 550px;
  margin: 0 auto;
  color: $white;
  padding: 30px 0;

  &__row {}
  &__background {
    max-width: 800px;
    margin: 0 auto;
    @media (min-width: 480px) and (max-width: 767px) {
      max-width: 350px;
    }
    @media (min-width: 768px){
      background-color: #333;
    }
  }
  &__body {
    position: relative;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(51, 51, 51, 0.9) url("icons/loading.gif") center / 50% no-repeat;
      opacity: 0;
      visibility: hidden;
      transition: all 0.5s ease 0s;
    }
    &._sending::after {
      opacity: 1;
      visibility: visible;
    }
  }
  &__title {
    font-size: 34px;
    font-weight: 500;
    text-align: center;
    margin-bottom: 30px;
  }
  &__item {
    margin-bottom: 20px;
  }
  &__label {
    font-size: 18px;
    display: block;
    margin-bottom: 10px;
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__input {
    height: 50px;
    padding: 0 20px;
    border: solid 1px $black;
    border-radius: 5px;
    width: 100%;
    font-size: 18px;
    &:focus {
      @include box-shadow;
      transition: all 0.5s ease 0s;
    }
    &._error {
      box-shadow: 0 0 10px red;
    }
  }
  textarea.form__input {
    min-height: 120px;
    resize: vertical;
    padding: 20px;
  }
  &__checkbox {
    font-size: 18px;
    line-height: 140%;
    display: inline-flex;
    align-items: center;
    position: relative;
    cursor: pointer;
    &::before {
      align-self: flex-start;
      content: '';
      flex: 0 0 24px;
      height: 24px;
      border-radius: 4px;
      background-color: $white;
      margin-right: 10px;
    }
    &:after {
      transition: transform 0.5s ease 0s;
      content: '';
      width: 16px;
      height: 16px;
      position: absolute;
      top: 4px;
      left: 4px;
      background-color: $donate;
      border-radius: 4px;
      transform: scale(0);
    }
    ._error &::before {
      box-shadow: 0 0 10px red;
    }
    @media (max-width: 767px) {
      font-size: 16px;
    }
  }
  &__button {
    width: 100%;
    @include flexbox;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    background-color: $donate;
    color: $white;
    font-family: 'Helvetica', sans-serif;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 29px;
    margin-bottom: 20px;
    @include box-shadow;
    transition: background-color 0.5s ease 0s;
    &:hover {
      background-color: $blue;
    }
    @media (max-width: 767px) {
      min-height: 40px;
      font-size: 16px;
    }
  }
}
.checkbox {
  &__input {
   display: none;
    &:checked + .form__checkbox:after {
      transform: scale(1);
    }
  }
}

