.header {
  position: sticky;
  top: 0;
  z-index: 50;
  background-color: $white;
  &:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $white;
    z-index: 2;
  }
  &__row {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__logos {
    @include flexbox;
  }
  &__logo {
    flex: 0 0 60px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    &_main {
      margin-right: px-to-rem(22px);
    }
  }
  &__image {
    max-width: 100%;
    display: block;
  }
  &__menu {
    &.active {
      position: absolute;
      top: 0;
    }
    &_hidden {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      transition: all 0.3s ease;
      padding: 100px 20px 10px 50px;
      background: linear-gradient(to right, #DAE8EE 25%, rgba(0,0,0,0.2) 25%,rgba(0,0,0,0.2) 25%);
      &.active {
        top: 0;
      }
    }
  }
  &__list {
    @include flexbox;
    position: relative;
    z-index: 2;
    &_hidden {
      position: relative;
      display: block;
      height: 100%;
      left: 0;
    }
  }
  &__link {
    color: $black;
    font-size: px-to-rem(16px);
    font-weight: 500;
    line-height: px-to-rem(24px);
    transition: width .3s ease-in-out;
    display: inline-block;
    position: relative;
    &_hidden {}
    &:after {
      display: block;
      content: "";
      background-color: $black;
      height: 2px;
      width: 0%;
      left: 50%;
      bottom: -5px;
      position: absolute;
      transition: width .3s ease-in-out;
      transform: translateX(-50%);
    }
    &:hover:after, &:focus:after {
      width: 100%;
    }
  }
  &__burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 3;
    &.active:before {
      transform: rotate(45deg);
      top: 9px;
    }
    &.active:after {
      transform: rotate(-45deg);
      bottom: 9px;
    }
    & span {
      position: absolute;
      background-color: $black;
      right: 0;
      width: 100%;
      height: 2px;
      top:9px;
      transition: all 0.3s ease;
    }
    &.active span {
      transform: scale(0);
    }
    @media (max-width: 768px) {

    }
    &:before, &:after {
      content: '';
      background-color: $black;
      position: absolute;
      width: 100%;
      height: 2px;
      right: 0;
      transition: all 0.3s ease;
    }
    &:before {
      top: 0;
    }
    &:after {
      bottom: 0;
    }
  }
  &__columl {
    &_right {}
  }
  &__donate {
  }
}
.container {
}
.image {
}
.list {
  &__item {
    &:nth-child(n+2) {
      margin-left: px-to-rem(88px);
    }
    &_hidden {
      margin: 0 0 20px 0;
    }
  }
}
.heder {
  &__column {}
}
.donate {
  @include flexbox;
  justify-content: center;
  position: relative;
  z-index: 3;
}
.button {
  display: block;
  margin-left: 16px;
  &_sm {}
  &_blue {}
}
.button-hover {
  &_white {}
}


.button {
  @include box-shadow;
  border-radius: 5px;
  color: $white;
  border: solid 1px transparent;
  &:hover {
    border: solid 1px $donate;
  }
  &_sm {
    padding: px-to-rem(8px);
  }
  &_blue {
    background-color: $donate;
  }
}
.button-hover {
  &_white {
    &:hover {
      background-color: $white;
      color: $donate;

    }
  }
}







