@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Poppins:wght@400;500;600;900&display=swap');

html {

}
body {
	font-family: 'Poppins', sans-serif;
}
.uppercase {text-transform: uppercase}
.container {@include min-max(320px, 1170px, 15px);}
//************** WRAPPER ****************
.wrapper {@include flexbox(); flex-direction: column; min-height: 100%; overflow: hidden;}
//***************************************
.content {
	flex: 1 1 auto;
}
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& img {
	display: none;
	}
}
//************ MAINBLOCK ****************

//***************************************
//************** ABOUT ******************

//***************************************
//************ SERVICESS ****************

//***************************************
//************* VIDEO-BG ****************

//***************************************
//************ PORTFOLIO ****************

//***************************************
//************** TEAM *******************

//***************************************
//************** STATS ******************

//***************************************
//************** STATS ******************

//***************************************
//************* PRICING *****************

//***************************************


