@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,700&family=Poppins:wght@400;500;600;900&display=swap');

html {

}
body {
	font-family: 'Poppins', sans-serif;
	&.lock {
		overflow: hidden;
	}
}
.container {@include min-max(320px, 1170px, 15px);}
//************** WRAPPER ****************
.wrapper {@include flexbox(); flex-direction: column; min-height: 100%; overflow: hidden;}
//***************************************
.content {
	flex: 1 1 auto;
}
.uppercase {text-transform: uppercase;}
.ibg {
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	& img {
	display: none;
	}
}
//************** BANNER *****************
.banner {
	padding: 60px 0 75px;
	color: $white;
	text-align: center;
	height: 100%;
	@media (max-width: 768px) {
		padding: 35px 0 60px;
	}
	&__image {}
	&__heshtag {
		font-size: px-to-rem(50px);
		margin-bottom: 15px;
		@media (max-width: 768px) {
			font-size: px-to-rem(30px);
		}
	}
	&__title {
		font-size: px-to-rem(32px);
		font-weight: 600;
		line-height: 60px;
		margin: 0 115px 30px;
		@media (max-width: 768px) {
			font-size: 20px;
			line-height: 40px;
			margin: 0 0 20px 0;
		}
	}
	&__counter {}
	&__total {
		font-size: px-to-rem(24px);
		@media (max-width: 768px) {
			font-size: px-to-rem(22px);
		}
	}
	&__sum {
		font-size: px-to-rem(36px);
		margin: 19px 0;
		@media (max-width: 768px) {
			font-size: px-to-rem(28px);
		}
	}
	&__cta {
		font-size: px-to-rem(24px);
		margin-bottom: 30px;
		@media (max-width: 768px) {
			font-size: px-to-rem(18px);
		}
	}
	&__donate {}
}
.banner {
	&__donate {}
}
.donate {}
.button {
	&_b {
		padding: 15px 33px;
		border: solid 1px transparent;
		@media (max-width: 768px) {
			padding: 6px 8px;
		}
	}
}
.button-hover {
	&_transparent {
		&:hover {
			background-color: transparent;
		}
	}
}
//***************************************
//************** FACTS ******************
.facts {
	padding: 60px 0 45px;
	@media (min-width: 320px) {
		padding-top: 20px;
	}
	&__row {
		@include flexbox;
		justify-content: space-between;
		@media (max-width: 992px) {
			display: block;

		}
	}
	&__column {
		&_left {
			@media (max-width: 768px) {
				//flex: 0 0 200px;
			}
		}
		&_right {}
	}
	&__bg-image {}
	&__image {
		@media (min-width: 320px) {
			width: 100%;
		}
		@media (min-width: 480px) {
			//width: 320px;
		}
	}
	&__title {
		margin: 60px 0 21px;
		text-align: center;
		font-size: 24px;
		font-weight: 600;
		@media (min-width: 320px) {
			margin: 20px 0 10px;
		}
	}
	&__list {}
	&__list-item {
		list-style: disc;
		line-height: 30px;
		margin-bottom: 15px;
		max-width: 555px;
		@media (min-width: 320px) {
			margin: 0 0 10px 15px;
		}

	}
	&__video {}
	&__recent-donors {}
}
.video {
	max-height: 284px;
	margin-bottom: 60px;
}
.recent-donors {
	&__title {
		font-size: 24px;
		text-align: center;
		margin-bottom: 30px;
	}
	&__list {
		padding: 40px 15px 50px;
		@include box-shadow;
		background-color: $white;



	}
	&__list-item {
		margin-bottom: 15px;
		@include flexbox;
		justify-content: left;
		align-items: center;
		padding-bottom: 15px;
		border-bottom: solid 1px #E5E5E5;
	}
}
.donor {
	&__icon {
		width: px-to-rem(50px);
		height: px-to-rem(50px);
		border-radius: 50%;
		background-color: $donate;
		margin-right: 12px;
		@include box-shadow;
	}
	&__name {
		font-size: 18px;

	}
	&__date {
		display: block;
		color: #B8B5B5;
		font-size: 14px;
		margin-top: px-to-percent(2px);
	}
	&__sum {
		padding: 8.5px 31.5px;
		color: $white;
		font-weight: 600;
		margin-left: 180px;
		border-radius: 50px;
		background-color: $donate;
		@include box-shadow;
	}
}

//***************************************
//************ SERVICES *****************

//***************************************
//************* VIDEO-BG ****************

//***************************************
//************ PORTFOLIO ****************

//***************************************
//************** TEAM *******************

//***************************************
//************** STATS ******************

//***************************************
//************** STATS ******************

//***************************************
//************* PRICING *****************

//***************************************


