@mixin min-max($min-width, $max-width, $padding) {min-width: $min-width;max-width: $max-width;padding: 0 $padding;box-sizing: border-box;margin: 0 auto;}
@mixin flexbox() {display: -webkit-box;display: -moz-box;display: -ms-flexbox;display: -webkit-flex; display: flex;}
@mixin box-shadow() {box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);}
